.page {
  background-color: #f2f2f2;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  text-align: center;
}

.reveal {
  animation-name: reveal;
  animation-duration: 2s;
}

@keyframes reveal {
  from { opacity: 0; }
  to { opacity: 1; }
}
