.page {
  background-color: #f2f2f2;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reveal {
  animation-name: reveal;
}

@keyframes reveal {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
